.login-bg{
    background-image:
    linear-gradient(to bottom, rgba(245, 245, 245, 0.098), rgba(117, 19, 93, 0.73)),
    url(../../../public//Banner/Pic-01.jpg);
}

.login_body {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }