.image-gradient {
  background-image: linear-gradient(
      to right,
      rgba(9, 4, 4, 0.87),
      rgba(250, 249, 249, 0)
    ),
    url("");
}


.aws-btn {

    --slider-height-percentage: 60%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #00e9fa;
    --control-button-width: 12%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #62a4fa;
    --control-bullet-active-color: #538bd5;
    --loader-bar-color: transparent;
    --loader-bar-height: 6px;
    }
