.image-gradient {
  background-image: linear-gradient(
      to right,
      rgba(9, 4, 4, 0.87),
      rgba(250, 249, 249, 0)
    ),
    url("");
}

.custom-slider .awssld__arrow {
  --slider-height-percentage: 56%;
  --slider-transition-duration: 600ms;
  --organic-arrow-thickness: 2px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 22px;
  --organic-arrow-color: #08a4af;
  --control-button-width: 4%;
  --control-button-height: 11%;
  --control-button-background: transparent;
  --control-bullet-color: #f33d42;
  --control-bullet-active-color: #cf3438;
  --loader-bar-color: transparent;
  --loader-bar-height: 0px;
}

.custom-slider .awssld__arrow:hover {
  --control-button-background: transparent;
}

