.tableHead {
  background: linear-gradient(#61007b, #8e92f4, #ebebef) padding-box,
    linear-gradient(0deg, #e4e4eb, #8285ed, #353bf1) border-box;
  border: solid 3px transparent;
  border-radius: 8px;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tableHead:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.tableData:hover {
  transform: translateY(-5px);
  box-shadow: 2px 8px 10px rgba(40, 73, 235, 0.84);
  padding-top: 20px;
  animation-duration: 5000ms;
}
